<section id="about" class="section">
  <div class="container">
    <h2 class="section-title">About <span class="highlight">Me</span></h2>
    <div class="about-content">
      <div class="about-image">
        <div class="image-container">
          <img src="assets/images/afifravi-about.jpeg" alt="Profile picture" />
        </div>
      </div>
      <div class="about-text">
        <h3 class="about-subtitle">Who am I?</h3>
        <p>Hi there! I'm Afiftha Ravi Aufa a programmer with a background in software engineering, enjoy diving into programming, particularly web and mobile development.</p>
        <p>
          I'm open to collaborating on any opportunities. Currently studying as an Informatics student at Jenderal Soedirman University. I'm passionate in learning new technologies, building responsive websites, and documenting my working
          process when it comes to complicated features.
        </p>

        <div class="about-details">
          <div class="detail-item">
            <span class="detail-label">Name:</span>
            <span class="detail-value">Afiftha Ravi</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Email:</span>
            <span class="detail-value">afifraviaufa@gmail.com</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Location:</span>
            <span class="detail-value">Indonesia</span>
          </div>
          <div class="detail-item">
            <span class="detail-label">Availability:</span>
            <span class="detail-value">Available for freelance</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
