<section id="projects" class="section">
  <div class="container">
    <h2 class="section-title">My <span class="highlight">Projects</span></h2>
    <div class="projects-grid">
      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/warung.png" alt="Project 1" />
        </div>
        <div class="project-content">
          <div class="project-tech">
            <span>PHP</span>
            <span>Laravel</span>
            <span>MySQL</span>
          </div>
          <h3>Warung Purba</h3>
          <p>A web application designed to showcase local eateries and their culinary offerings in Purbalingga, Indonesia.</p>
          <div class="project-buttons">
            <a href="https://github.com/KangJ0n0/Warung-Purba/" class="project-btn code-btn" target="_blank" rel="noopener noreferrer">View Code</a>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/emma.png" alt="Project 2" />
        </div>
        <div class="project-content">
          <div class="project-tech">
            <span>Flutter</span>
            <span>Firebase</span>
          </div>
          <h3>EMMA</h3>
          <p>A mobile app that helps users prioritize tasks using the Eisenhower Matrix. The app categorizes tasks into four quadrants.</p>
          <div class="project-buttons">
            <a href="https://github.com/KangJ0n0/EMMA" class="project-btn code-btn" target="_blank" rel="noopener noreferrer">View Code</a>
            <a href="https://github.com/KangJ0n0/EMMA/releases/tag/1.0" class="project-btn demo-btn" target="_blank" rel="noopener noreferrer">App Releases</a>
          </div>
        </div>
      </div>
      <div class="project-card">
        <div class="project-image">
          <img src="assets/images/weather.png" alt="Project 3" />
        </div>
        <div class="project-content">
          <div class="project-tech">
            <span>Vue.js</span>
            <span>Node.js</span>
          </div>
          <h3>Weather App</h3>
          <p>A super simple website that use for checking the weather at some place, build with Vue.js, Tailwind CSS, and WeatherAPI.</p>
          <div class="project-buttons">
            <a href="https://github.com/KangJ0n0/Weather-app" class="project-btn code-btn" target="_blank" rel="noopener noreferrer">View Code</a>
            <a href="https://weather-appli.vercel.app/" class="project-btn demo-btn" target="_blank" rel="noopener noreferrer">Live Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
